
#container{
    display: flex;
    background-color: white;
    margin: 0 auto;
    flex-direction: column;
    border: 1px solid black;
    width: 450px;
    align-items: center;
    gap: 10px;   
    
}

#loginbtn:disabled{
   
    padding: 10px 20px;
    font-size: 18px;
}


#loginbtn:enabled{
    background-color: crimson;
    font-size: 18px;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

